#Bangladesh {
  color: green;
}
#India {
  color: blue;
}
#Pakistan {
  color: darkgreen;
}
#Srilanka {
  color: yellowgreen;
}
#Maldivs {
  color: green;
}
#Bhutan {
  color: orange;
}
#Nepal {
  color: red;
}
#Afganistan {
  color: black;
}
.Saarc {
  font-size: 20px;
}
