.header {
  text-align: center;
}
.logo {
  height: 50px;
}
.header nav {
  background-color: rgb(255, 165, 0);
  line-height: 40px;
}
.header nav a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  padding: 5px;

  font-size: 20px;
}
.header nav a:hover {
  background-color: white;
  color: rgb(255, 165, 0);
  border-radius: 10px;
}
